
.contact_title {
    font-size: 50px;
    text-align: center;
    color: #333;
}
.location_title{
    color: #222;
    margin:0;
    padding-bottom:16px;
    padding-left:5%;
    background-color:rgba(72,72,72,0.7);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.map{
    overflow:hidden;
    width:100%;
    display:block;
    margin:auto;
    padding-bottom: 64px;
    padding-left:5%;
    padding-right:5%;
    background-color:rgba(72,72,72,0.7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#gmap_canvas{
    height:500px;
    width:100%;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact_form {
    border-radius: 5px;
    background-color:rgba(72,72,72,0.7);
    padding: 20px;
    width: 100%;
    color:#222;
}