.container_diensten{
    width: 90%;
    margin: 0 auto;
    background-color: #404040;
    margin-left:5%;
    margin-right:5%;
}
.grid_row::after {clear: both; content:'';display: table;}
  
.diensten_project1 {
    width: 100%;
    height: 400px;
    float: right;
    margin-right: 10%;
    padding:65px;
}
.diensten_project2 {
    width: 100%;
    height: 400px;
    float: left;
    margin-left: 10%;
    padding:65px;
}
.logo_design{
    background-image:url('../assets/images/7.jpg');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.7;
}
.text_diensten1 h2{
    font-size: 30px;
  letter-spacing: 10px;
}
.text_diensten2 h2{
    font-size: 30px;
  letter-spacing: 10px;
}
.text_diensten1{
    margin-top: 120px;
    padding: 10px;
    text-align: center;
    background-color: #333;
    color:white;
    opacity:0.7;
    border-radius: 10px;
    font-size:20px;
}
.text_diensten2{
    font-size:20px;
    text-align: center;
    margin-top: 120px;
    padding: 10px;
    background-color: #333;
    color:white;
    opacity:0.7;
    border-radius: 10px;

}
.fotography{
    background-image:url('../assets/images/8.jpg');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: left;
    opacity: 0.7;
}
.film_making{
    background-image:url('../assets/images/9.jpg');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.7;
}
.webdesign{
        background-image:url('../assets/images/9.png');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: left;
    opacity: 0.7;
}
.music_production{
        background-image:url('../assets/images/10.jpg');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.7;
}
