

*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
   background-color: #555;
   background-size: 100%;
    font: 400 18px/1.8 "Lato", sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
body {
    margin: 0;
}

#nav {
	background-color: #333;
    border: 1px solid #333;
   opacity: 0.7;
    text-align: center;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

ul li {
    float: left;
    margin: 0 20px;
}

ul li a {
    color: white;
}
ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #333;
}



li a:hover {
    background-color: #111;
}
li a:active {
    background-color: #315234;
}

.nav_button a.activepage{
    color:#315234;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color:#333;
  text-align: center;
}
.fa {

    padding: 20px;
    font-size: 50px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
    }
 .fa-facebook {
    background: #3B5998;
    color: white;
 }
 .fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-envelope-o {
    background: green;
    color:white;

}
.fa-youtube-play {
    background:red;
    color:white;
}
.fa-vimeo {
    color:white;
    background:#1ab7ea;
}
