.persons {
    width: 33.33%;
    height: 500px;
    float: left;
    margin: 0;
    padding:65px;
}
.person2 {
    background-image:url("../assets/images/12.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: center;
}

.person1 {
    background-image:url("../assets/images/11.png");
    background-size:350px;
    background-repeat: no-repeat;
    background-position: center;
}
.person3 {
    background-image:url("../assets/images/13.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.container_persons{
   text-align: center;
    color:rgba(255, 255, 255, .8);
    width: 90%;
    margin-top:50px;
    background-color:rgba(72,72,72,0.7);
    border-width: 10px;
    margin-left:5%;
    margin-right:5%;
    border-radius:5px;
}
.container_persons h2{
    padding-left:0;
    opacity:0.5;
    letter-spacing: 10px;
    background-color:#222;
    margin:0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(rgba(72,72,72,0.7)));
    background-image: -webkit-linear-gradient(top, #222, rgba(72,72,72,0.7));
    background-image: -moz-linear-gradient(top, #222, rgba(72,72,72,0.7));
    background-image: linear-gradient(to bottom, #222, rgba(72,72,72,0.7));
}
.persontext{
    width: 33.33%;
    height: 500px;
    float: left;
    margin: 0;
    padding:65px;
    color:rgba(200,200,200,0.7);
}
.grid_row::after {clear: both; content:'';display: table;}