*{box-sizing: border-box;
}
.portfolio_title{
font-size:50px;
margin-top:50px;
text-align: center;
color:#333; 
}
.container_logos h2{
    padding-left:0;
    opacity:0.5;
    letter-spacing: 10px;
    background-color:#222;
    margin:0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(rgba(72,72,72,0.7)));
    background-image: -webkit-linear-gradient(top, #222, rgba(72,72,72,0.7));
    background-image: -moz-linear-gradient(top, #222, rgba(72,72,72,0.7));
    background-image: linear-gradient(to bottom, #222, rgba(72,72,72,0.7));
}
.container_videos h2{
    text-align: center;
    padding-left:0;
    opacity:0.5;
    letter-spacing: 10px;
    background-color:#222;
    margin:0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(rgba(72,72,72,0.7)));
    background-image: -webkit-linear-gradient(top, #222, rgba(72,72,72,0.7));
    background-image: -moz-linear-gradient(top, #222, rgba(72,72,72,0.7));
    background-image: linear-gradient(to bottom, #222, rgba(72,72,72,0.7));
    }
.container_logos{
   text-align: center;
    color:rgba(255, 255, 255, .8);
    width: 90%;
    margin-top:50px;
    background-color:rgba(72,72,72,0.7);
    border-width: 10px;
    margin-left:5%;
    margin-right:5%;
    border-radius:5px;
}
.container_videos{
    color:rgba(255, 255, 255, .8);
    width: 90%;
    margin-top:50px;
    background-color:rgba(72,72,72,0.7);
    border-width: 10px;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:5%;
    border-radius: 5px;
}
.grid_row::after {clear: both; content:'';display: table;}
  
.grid_project1 {
    width: 20%;
    height: 350px;
    float: left;
    margin: 0;
    padding:65px;
}
.grid_project2{
    frameborder:0;
    width:50%;
    height: 500px;
    float:left;
    padding:30px;

}
.grid_project3{
    width:50%;
    height: 500px;
    float:right;
    padding:30px;
}

.banner1 {
    background-image:url("../assets/images/logo1.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner2 {
    background-image:url("../assets/images/logo2.png");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner3 {
    background-image:url("../assets/images/logo3.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner4 {
    background-image:url("../assets/images/logo4.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner5 {
    background-image:url("../assets/images/logo5.png");
    background-size: 215px;
    background-repeat: no-repeat;
    background-position: center;
}

.banner6 {
    background-image:url("../assets/images/logo6.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.banner7 {
    background-image:url("../assets/images/logo7.png");
    background-size:175px;
    background-repeat: no-repeat;
    background-position: center;
}

h2, h1, p{
    padding-left: 5%;
}

