*{box-sizing: border-box;}
.portfolio_title{
font-size:50px;
text-align: center;
color:#315234; 
}
.container_logos{
    width: 90%;
    margin: 0 auto;
    background-color: #404040;
    border-style:outset;
    border-color:#333;
    border-width: 10px;
    margin-left:5%;
    margin-right:5%;
}
.grid_row::after {clear: both; content:'';display: table;}
  
.grid_project1 {
    width: 20%;
    height: 350px;
    float: left;
    margin: 0;
    padding:65px;
}
.banner1 {
    background-image:url("../assets/images/logo1.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner2 {
    background-image:url("../assets/images/logo2.png");
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner3 {
    background-image:url("../assets/images/logo3.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner4 {
    background-image:url("../assets/images/logo4.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.banner5 {
    background-image:url("../assets/images/logo5.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.banner6 {
    background-image:url("../assets/images/logo6.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.banner7 {
    background-image:url("../assets/images/logo7.png");
    background-size:175px;
    background-repeat: no-repeat;
    background-position: center;
}
.container_videos{
    padding-left:5%;
    
}

.grid_project2 {
    width: 50%;
    height: 700px;
    float: left;
    margin:0px;
    padding-left:65px;
    position: 100px;
}
h2, h1, p{
    padding-left: 5%;
}

