/* Convert Root EM (rem) from 16px to 10px */
html{
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
  line-height: 1.52;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.42;
  margin-bottom: 0.26em;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.0rem;
}

p {
  margin-bottom: 0.6em;
}